{{ partial "header.html" . }}

  <nav class="breadcrumb">
    <a class="breadcrumb-item" href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a>
    <a class="breadcrumb-item active" href="{{ .URL }}">Post {{ .UniqueID }}</a>
  </nav>

  <div class="container mt-5">
  <div class="row">
  <div class="col-md-12">
  <article>
    <h1>{{ .Title | safeHTML }}</h1>
    <h4>{{ .Date.Format "Mon, Jan 2, 2006" }}</h4>
    <p>{{ .Content }}</p>
  </article>
  </div>
  </div>
  </div>

{{ partial "footer.html" . }}
